
  <div id="infobox">
  	  <div id="infobox-img">
        <img src="<%= plot.img_link %>">
      </div>
      <div id="infobox-text">
        <!-- plot_id used for AJAX call when rendering plot details partial-->
        <%= hidden_field_tag('plot_id', plot.id) %> 
        <h3><%= plot.title %></h3>
        <p><%= plot.architect.name %></p>
        <p id="details-link">More details ></p>
      </div>
  </div>

 