
  <div id="infobox">
  	  <div id="infobox-img">
        <img src="<%= plot.img_link %>">
      </div>
      <div id="infobox-text">
        <h3><%= plot.title %></h3>
        <p>Architect: <%= plot.architect.name %></p>
        <p><%= plot.address %></p> 
      </div>
  </div>