<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4ykymJ5yCNhWlPIDV0Dr7-0tC57Abuog&region=GB" type="text/javascript"></script>
<script src='https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js' type='text/javascript'></script>
<script src='https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,100' rel='stylesheet' type='text/css'>

  
<%= render 'partials/menu' %>

<div id="plotdetails"></div>

<div id="map"></div>

<img alt="Open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px">

<script type="text/javascript">

  buildMap(<%=raw @hash.to_json %>);

</script>
 