

<%= render 'partials/menu' %>

<div id="plotdetails" class="hidden"></div>


<div id="map" class="fix-right-top"></div>


<img alt="Open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px">

<img alt="Open" id="location-icon" class="off" src="https://db.tt/AeustLSb" width="28px">


<script type="text/javascript">

  buildMap(<%=raw @hash.to_json %>);

</script>

 