


<div id="map" class="fix-right-top"></div>


<!-- Gelocation icon -->
<img alt="Open" id="location-icon" class="off" src="https://db.tt/AeustLSb" width="28px">

<script type="text/javascript">

  buildMap(<%=raw @hash.to_json %>);

</script>

 