
  <div id="infobox">
      <img src="<%= user.img_link %>">
      <div id="infobox-text">
        <h3><%= user.title %></h3>
        <p><%= user.description %></p>
        <p><%= user.address %></p> 
      </div>
  </div>