

/*Plot Details Partial */

#plotdetails, #menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color:rgba(20, 160, 146, 1);
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    width: calc(33%);
    /*min-width: 300px;*/
    color: #fff;
    z-index: 5;
    position: fixed;
    left: calc(-33%);
    height: 100%;
    -webkit-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
        moz-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
          o-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

#menu {
    z-index: 6;
}

#plotdetails #plot-img img{
    width: 100%;
    display: block;
}

#details-text {
    padding: 10px 20px 0 20px;
    flex: 1;
    overflow-y: scroll;
}

#details-text p {
   font-family: 'Josefin Sans', sans-serif;
}

#address img {
    height: 20px;
}

#address p {
    display: inline;
    padding: 10px 0 0 10px;
}

#type {
    padding: 10px 0 0 0;  
}
@media (max-width: 620px) {
    #plotdetails, #menu {width: 100%; left: calc(-100%);}
    #plotdetails #plot-img img{width: 100%;}
}