/* menu */

.icon-menu {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.icon-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#plotdetails, #menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color:rgba(20, 160, 146, 1);
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    width: 400px;
    color: #fff;
    z-index: 5;
    position: fixed;
    left: -620px;
    height: 100%;
    -webkit-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
        moz-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
          o-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

#plotdetails #plot-img img{
    width: 400px;
    display: block;
}

#details-text {
    padding: 0 20px 0 20px;
    flex: 1;
    overflow-y: scroll;
}

#details-text p {
   /* font-family: 'Josefin Sans', sans-serif; */
}

@media (max-width: 620px) {
    #plotdetails, #menu  {width: 100%;}
    #plotdetails #plot-img img{width: 100%;}
}